@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* reset code */
*, *::before, *::after{
    box-sizing: border-box;
    font-family: Roboto;
}

.container { 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(178, 47, 169);
}

.container > form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.input {
    padding: 10px 5px;
    margin-bottom: 15px;
    width: 100%;
}

.button {
    padding: 8px 20px;
    background-color: orange;
    border-radius: 30px;
    transition: all 0.1s;
    width: 120px;
    transform: translateX(0px)
}

.button:hover {
    background-color: crimson;
    color: white;
    cursor: pointer;
}

#message{
    color: red;
}